<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Controls </title>
    <link rel="stylesheet" href="../node_modules/flexboxgrid-sass/dist/flexboxgrid.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="draggable">

<main class="container-fluid" style="height: 100vh;">
    <div class="row" id="controllers" style="100%">

    </div>
</main>


<script>
    // You can also require other files to run in this process
    require('../scripts/rendererprocesses/controls/renderer.js')
</script>
</body>
</html>